{ config, ... }:

{

  # Import some usecases or hardware-specific configs
  imports = [
      ./usecases/my-usecase.nix
  ];

  networking.hostName = "myAwesomeHostname";
  theme.colors.dominant = "#d3869b";

}
