{ ... }:

{
  home-manager.users.minijackson.programs.taskwarrior.config = {
    taskd = {
      certificate = "/path/to/cert";
      key         = "/path/to/key";
      ca          = "/path/to/ca";
      server      = "server:address";
      credentials = "default/user/uuid";
    };
  };
}
