{ pkgs, ... }:

{

  home-manager.users.minijackson = { config, ... }: {
    accounts.email.accounts = {

        # ...

        mbsync = {
          enable = true;
          create = "maildir";
        };

        msmtp.enable = true;

        notmuch.enable = true;

    };
  };
}
