{ ... }:

{
  tinc = {
    networkName = "theName";
    hosts = [ "host1" "host2" "host3" ];
    extraConfig = ''
      ConnectTo = host1

      Ed25519PrivateKeyFile = /path/to/key/file
    '';
  };
}
